<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <localRepository></localRepository>
  <servers>
    <server>
      <username>trial01</username>
      <password>trial01?!?</password>
      <id>trial-repo</id>
    </server>
    <server>
      <username>trial01</username>
      <password>trial01?!?</password>
      <id>trial-repo-snapshots</id>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <mirrorOf>central</mirrorOf>
      <name>aliyun maven</name>
      <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
      <id>alimaven</id>
    </mirror>
    <mirror>
      <mirrorOf>trial-repo-snapshots</mirrorOf>
      <name>trial-snapshot</name>
      <url>https://repos.iec.io/repository/maven-trial-snapshots/</url>
      <id>trial-repo-snapshots</id>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <releases />
          <snapshots>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
          <id>trial-repo-snapshots</id>
          <url>https://repos.iec.io/repository/maven-trial-snapshots/</url>
        </repository>
        <repository>
          <releases />
          <snapshots>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
          <id>trial-repo</id>
          <url>https://repos.iec.io/repository/maven-trial/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
          <id>trial-repo</id>
          <url>https://repos.iec.io/repository/maven-trial/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>group-and-plugin-repo</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>group-and-plugin-repo</activeProfile>
  </activeProfiles>
</settings>
